@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
:root{
    --very-dark-gray-blue: hsl(217, 19%, 35%);
    --desat-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-gray-blue: hsl(210, 46%, 95%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    line-height: 1.6;
    font-size: 13px;
}

main{
    display: grid;
    grid-template-areas: 
    ". . ."
    ". card ."
    ". . ."
    ;
    justify-content: center;
    background-color: var(--light-gray-blue);
    height: 100vh;
}

.card{
    grid-area: card;
    width: 23rem;
    border-radius: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.image{
    background-image: url("./images/drawers.jpg");
    background-size: cover;
    height: 45%;
    border-radius: 1em 1em 0 0;
}

.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headline {
    color: var(--very-dark-gray-blue);
    font-weight: 700;
}

.paragraph {
    color: var(--grayish-blue);
    font-weight: 500;
}

.info{
    display: flex;
    line-height: 1;
    gap: 5px;
    align-items: center;
}

.avatar{
    width: 48px;
    height: auto;
    border-radius: 50%;
}

.identity{
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--very-dark-gray-blue);
}

.date {
    color: var(--grayish-blue);
}

.share-icon {
    width: 24px;
    height: 24px;
    padding: 5px;
    background-color: var(--light-gray-blue);
    border-radius: 50%;
    margin-left: auto;
}

footer {
    padding: 0 2rem 1rem 2rem;
}

.hidden{
    display: none;
}